@charset "utf-8";
@import "normalize";
@import "bourbon/_bourbon";
@import "base/_base";
@import "neat/_neat";



// Mixins

.element p {
  @include vertical-align();
}

//Layout

.container {
	@include outer-container;
}



// Main

body {
  margin-top: 60px;

}
h1, h2, h3, h4, h5, h6 {
}


header h2 {
font-size: 1.5em;
line-height: 2em;
color: white;
position: relative;


header a {
	text-decoration: none;
}



}

#logo-second {
	color: $light-blue;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

header.navigation {
  font-weight: 800;
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $large-screen: em(860) !default;
  $navigation-padding: 1em;
  $navigation-background: $dark-gray;
  $navigation-color: transparentize(white, 0.3);
  $navigation-color-hover: white;
  $navigation-height: 60px;
  $navigation-nav-button-background: $action-color;
  $navigation-nav-button-background-hover: lighten($navigation-background, 10%);
  $navigation-nav-button-border: 1px solid lighten($navigation-nav-button-background, 20%);
  $navigation-search-background: lighten($navigation-background, 5);
  $navigation-search-border: 1px solid darken($navigation-background, 5);
  $navigation-active-link-color: transparentize(white, 0.5);
  $navigation-submenu-padding: 1em;
  $navigation-submenu-width: 12em;
  $horizontal-bar-mode: $large-screen;

  background-color: $primary-blue;
  min-height: $navigation-height;
  width: 100%;
  z-index: 999;

  a.logo {
    text-decoration: none;
  }

  .navigation-wrapper {
    @include clearfix;
    @include outer-container;
    position: relative;
    z-index: 9999;
  }

  .logo {
    float: left;
    max-height: $navigation-height;
    padding-left: $navigation-padding;
    padding-right: 2em;

    img {
      max-height: $navigation-height;
      padding: 0.8em 0;
    }
  }

  // Mobile view

  .navigation-menu-button {
    color: $navigation-color;
    display: block;
    float: right;
    font-family: $heading-font-family;
    line-height: $navigation-height;
    margin: 0;
    padding-right: 1em;
    text-decoration: none;
    text-transform: uppercase;

    @include media ($horizontal-bar-mode) {
      display: none;
    }

    &:focus,
    &:hover {
      color: $navigation-color-hover;
    }
  }

  // Nav menu

  nav {
    float: none;
    min-height: $navigation-height;
    z-index: 9999999;
    font-family: $heading-font-family;

    @include media ($horizontal-bar-mode) {
      float: right;
    }


  }



  ul.navigation-menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 9999;

    &.show {
      display: block;
    }

    @include media ($horizontal-bar-mode) {
      display: inline;
      margin: 0;
      padding: 0;
    }
  }

  // The nav items

  ul li.nav-link {
    background: $navigation-background;
    display: block;
    line-height: $navigation-height;
    overflow: hidden;
    padding-right: 0.8em;
    text-align: right;
    width: 100%;
    z-index: 9999;

    @include media ($horizontal-bar-mode) {
      background: transparent;
      display: inline;
      line-height: $navigation-height;
      text-decoration: none;
      width: auto;
    }

    a {
      color: $navigation-color;
      display: inline-block;
      text-decoration: none;

      @include media ($horizontal-bar-mode) {
        padding-right: 1em;
      }

      &:focus,
      &:hover {
        color: $navigation-color-hover;
      }
    }
  }

  .active-nav-item a {
    border-bottom: 1px solid $navigation-active-link-color;
    padding-bottom: 3px;
  }

  // Sub menus

  li.more.nav-link {
    padding-right: 0;

    @include media($horizontal-bar-mode) {
      padding-right: $navigation-submenu-padding;
    }

    > ul > li:first-child a  {
      padding-top: 1em;
    }

    a {
      margin-right: $navigation-submenu-padding;
    }

    > a {
      padding-right: 0.6em;
    }

    > a:after {
      @include position(absolute, auto -0.4em auto auto);
      content: '\25BE';
      color: $navigation-color;
    }
  }

  li.more {
    overflow: visible;
    padding-right: 0;

    a {
      padding-right: 0.8em;
    }

    > a {
      padding-right: 1.6em;
      position: relative;

      @include media($horizontal-bar-mode) {
        margin-right: $navigation-submenu-padding;
      }

      &:after {
        content: '›';
        font-size: 1.2em;
        position: absolute;
        right: $navigation-submenu-padding / 2;
      }
    }

    &:focus > .submenu,
    &:hover > .submenu {
      display: block;
    }

    @include media($horizontal-bar-mode) {
      padding-right: 0.8em;
      position: relative;
    }
  }

  ul.submenu {
    display: none;
    padding-left: 0;

    @include media($horizontal-bar-mode) {
      left: -$navigation-submenu-padding;
      position: absolute;
      top: 1.5em;
    }

    .submenu {
      @include media($horizontal-bar-mode) {
        left: $navigation-submenu-width - 0.2em;
        top: 0;
      }
    }

    li {
      display: block;
      padding-right: 0;

      @include media($horizontal-bar-mode) {
        line-height: $navigation-height / 1.3;

        &:first-child > a {
          border-top-left-radius: $base-border-radius;
          border-top-right-radius: $base-border-radius;
        }

        &:last-child > a {
          border-bottom-left-radius: $base-border-radius;
          border-bottom-right-radius: $base-border-radius;
          padding-bottom: 0.7em;
        }
      }

      a {
        background-color: darken($navigation-background, 3%);
        display: inline-block;
        text-align: right;
        width: 100%;

        @include media($horizontal-bar-mode) {
          background-color: $navigation-background;
          padding-left: $navigation-submenu-padding;
          text-align: left;
          width: $navigation-submenu-width;
        }
      }
    }
  }

  // Elements on the far right

  .navigation-tools {
    background: #505050;
    clear: both;
    display: block;
    height: $navigation-height;

    @include media($horizontal-bar-mode) {
      background: transparent;
      clear: none;
      float: right;
    }
  }

  // Search bar

}

.section {
  padding: 2em;
}

.footer-section {
  background-color: $dark-gray;
  color: white;
  font-size: $base-font-size*0.5;
  text-align: center;
  font-family: $heading-font-family;
}

.subject-hero {
  h1 {
    margin-bottom: 0px;
  }
}
.red-section-textured {
  $texture-top-background: lighten($primary-blue, 1%);
$texture-bottom-background: darken($primary-blue, 10%);
  background-color: $light-blue;
    @include texture(180deg, $texture-top-background, $texture-bottom-background, 7 , 1);
}

.blue-section {
  $texture-top-background: lighten(white, 1%);
$texture-bottom-background: darken(white, 10%);
  background-color: $light-blue;
    @include texture(180deg, $texture-top-background, $texture-bottom-background, 1 , 1);
}

.hero-section {
  padding-top: 6em;
  padding-bottom: 6em;
  background-position: center;
  background-size: cover;
  position: relative;
  border-color: transparent;
  background-repeat: no-repeat;
  background-image: url("/images/hero.jpg");
  color: white;


}


.section-blue-special {
  background-image: url("/images/hero.jpg");
  color: white;
  font-weight: 800;
}


.red-section {

  background-color: $dark-gray;
  font-family: $heading-font-family;
  color: whitesmoke;
}

.sidebar-section {
  margin-top: 1em;

}
.hero h1, .hero h2 {
  font-size: 4em;
    line-height: 1.1em;
    margin-bottom: 0.25em;
}

.hero p {
  font-family: $heading-font-family;
  font-size: 1.5em;
}


.site-information-box {
	@include span-columns(12);
	background-image: url('/images/hero.jpg');
  font-family: $heading-font-family;
	background-position: center;
	background-size: cover;
	padding: 10px;
	color: white;
    h1 {
      padding: 0px;
      margin:0px;
      text-align: center;
    }
}

.about {
  @include span-columns(6);
  color: whitesmoke;
  font-family: $heading-font-family;
  display: block;
  position: relative;
  padding-top: 1.5em;
  padding-bottom: 1em;

  @media (max-width: 900px) {
    @include span-columns(12);
  }

}

.topic-list {
  font-weight: 800;
  background-color: $dark-gray;
  color: $primary-blue;
  padding: 1em;
  font-family: $heading-font-family;
  font-size: 1em;
  color: whitesmoke;
  text-align: center;

  ul {
    display: inline-block;
    padding: 0px;
  }

  ul li {
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
  }

  a {
    color: white;
  }

  a:hover {
    opacity: 0.8;
  }
}

.article-item {
  @include span-columns(3);
  @include omega(4n);
  padding: 5px;
  margin-top: 20px;
  font-weight: 800;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: white;
  font-family: $heading-font-family;
  font-size: $base-font-size*0.8;


    a {
      color: whitesmoke;
    }

    a:hover {
      opacity: 0.7;
    }


    @include media(max-width 900px) {
      @include span-columns(4);
      @include omega(3n);
    }

    @include media(max-width 700px) {
      @include span-columns(6);
      @include omega(2n);
    }

    @include media(max-width 500px) {
      @include span-columns(12);
      @include omega(1n);
    }

}

.subscribe {
  @include span-columns(12);
}

.subject-list {
  @include span-columns(6);
  @include omega();
  background-color: $primary-blue;
  background-position: center;
  font-family: $heading-font-family;
  background-size: cover;
  padding: 10px;
  color: white;

  @media (max-width: 900px) {
    @include span-columns(12);
  }

}

.title-section {
  padding-top: 4em;
  padding-bottom: 4em;
}

.article-section {
  @include white-texture;

}

.light-blue-section {
  color: whitesmoke;
  background-color: $primary-blue;

}

.outline {
	border-width: 5px;
	border-color: rgba(255, 255, 255, 0.67);
	border-style: solid;
	padding: 25px;
}

.article-list {
	@include span-columns(6);
}

button {
  border-color: white;
}
.subscribe-section {
  background-color: rgba(55, 51, 245, 0.9);

}
.subscribe {
  background-color: $primary-blue;
  padding: 2em;
  text-align: center;
  color: whitesmoke;
  padding-left: 10em;
  padding-right: 10em;
  border-radius: $base-border-radius;
  box-shadow: $form-box-shadow;

  h3 {
    font-size: 2.5em;
  }

  p {
    font-family: $heading-font-family;
    opacity: 0.9;
  }

  input {
    margin-top: 1em;
        font-family: $heading-font-family;
  }

  input[type=submit]  {


    input:hover {

    }

  }

  input#text_field {
    color: black;
  }

  @media (max-width: 900px) {
    padding-left: 5em;
    padding-right: 5em;
  }

  @media (max-width: 600px) {
    padding-left: 1em;
    padding-right: 1em;
  }
}

.content {
  @include span-columns(8);
  padding-right: 3em;

  @media (max-width: 900px) {
    @include span-columns(12);
  }

}

.heading {
  background-color: $primary-blue;
  background-size: cover;
  background-position: center;
  color: whitesmoke;
  padding: 10px;

   h1 {
     margin-bottom: 0px;
     margin-top: 0px;
   }

  margin-bottom: 30px;
}

.sidebar {
  @include span-columns(4);
position: relative;
  button {
    display: block;
    position: relative;
    width: 100%;

  }

  @media (max-width: 900px) {
    @include span-columns(12);
  }

}
