html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

html, body {
  font-family: 'chaparral-pro', serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
.container::after {
  clear: both;
  content: "";
  display: table;
}

.subject-item {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  padding: 10px;
}
.subject-item:last-child {
  margin-right: 0;
}
@media screen and (max-width: 620px) {
  .subject-item {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
  }
  .subject-item:last-child {
    margin-right: 0;
  }
}

li.block {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-right: 0;
}
li.block:last-child {
  margin-right: 0;
}

.full-width {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
}
.full-width:last-child {
  margin-right: 0;
}

.row {
  margin-right: 0;
}

p {
  font-size: 1.5em;
  line-height: 1.7em;
}

ul {
  font-size: 1.5em;
  line-height: 1.7em;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'proxima-nova', sans-serif;
  font-weight: 900;
}

.hero-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/images/default-background.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.2s ease-in-out;
}

.hero-background.geography {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/images/geography.jpg");
}

.hero-background.economics {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/images/economics.jpg");
}

.hero-background.maths {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/images/maths.jpg");
}

.hero-background.politics {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/images/politics.jpg");
}

.indigo, .red, .orange, .black, .green > h3, h4 {
  border-bottom-color: inherit;
  border-bottom-style: solid;
  border-bottom-width: 5px;
  display: inline-block;
}

.mdl-layout-title {
  font-family: 'proxima-nova', sans-serif;
  font-weight: 900;
}

.mdl-layout-title a {
  color: inherit;
  text-decoration: none;
}

.mdl-layout-title a:hover {
  color: black;
}

.mdl-navigation {
  font-family: 'proxima-nova', sans-serif;
}

.hero {
  color: whitesmoke;
  border-width: 5px;
  border-color: rgba(255, 255, 255, 0.68);
  border-style: solid;
  padding: 10px;
}

.hero h2, .hero h1 {
  border-bottom: 1px solid rgba(245, 245, 245, 0.3);
  display: inline-block;
}

.mdl-button--raised {
  background: rgba(255, 255, 255, 0.8);
}

.header-bar h2 {
  padding: 0px;
  margin: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: right;
}

.mdl-layout__header-row {
  text-align: center;
  display: block;
}
@media screen and (min-width: 900px) {
  .mdl-layout__header-row {
    display: none;
  }
}

@media screen and (min-width: 900px) {
  .mdl-layout__header {
    display: none;
  }
}

.article-list {
  font-family: 'proxima-nova', sans-serif;
  margin-left: 0px;
  font-weight: 900;
  font-size: 16px;
}

.demo-ribbon {
  width: 100%;
  height: 40vh;
  background-color: #3F51B5;
  background-position: center;
  background-size: cover;
  flex-shrink: 0;
}

.demo-header .mdl-layout__header-row {
  padding-left: 40px;
}

.demo-container {
  max-width: 1600px;
  width: calc(100% - 16px);
  margin: 0 auto;
  margin-top: -35vh;
  flex-shrink: 0;
}

.demo-content {
  border-radius: 2px;
  padding: 80px 56px;
  margin-bottom: 80px;
}

.demo-layout.is-small-screen .demo-content {
  padding: 40px 28px;
}

.demo-content h3 {
  margin-top: 48px;
}

.demo-footer {
  padding-left: 40px;
}

.demo-footer .mdl-mini-footer--link-list a {
  font-size: 13px;
}

.breadcrumb {
  display: inline-block;
  margin-bottom: 1.5em;
  text-align: left;
}
.breadcrumb a {
  background-color: white;
  border: 1px solid gainsboro;
  border-left: 0;
  color: #999;
  display: inline-block;
  font-size: 0.8em;
  line-height: 2.25em;
  margin-bottom: 2px;
  margin-right: -5px;
  padding: 0 0.5625em 0 1.125em;
  position: relative;
  text-decoration: none;
}
.breadcrumb a:first-child {
  border-bottom-left-radius: 3px;
  border-left: 1px solid gainsboro;
  border-top-left-radius: 3px;
  padding-left: 1.125em;
}
.breadcrumb a:last-child {
  background-color: white;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  color: #999;
  padding-right: 1.125em;
}
.breadcrumb a:focus, .breadcrumb a:hover {
  background-color: white;
  color: #477DCA;
}
.breadcrumb a:after, .breadcrumb a:before {
  position: absolute;
  top: 0px;
  right: auto;
  bottom: 0px;
  left: 100%;
  border-bottom: 1.125em solid transparent;
  border-left: 0.5625em solid transparent;
  border-top: 1.125em solid transparent;
  content: '';
  display: block;
  margin: auto;
  z-index: 2;
}
.breadcrumb a:last-child:after, .breadcrumb a:last-child:before {
  border: none;
}
.breadcrumb a:before {
  border-left-color: gainsboro;
  margin-left: 1px;
  z-index: 1;
}
.breadcrumb a:after {
  border-left-color: white;
}
.breadcrumb a .breadcrumb {
  display: inline-block;
  margin-bottom: 1.5em;
  text-align: left;
}
.breadcrumb a .breadcrumb a {
  background-color: white;
  border: 1px solid gainsboro;
  border-left: 0;
  color: #999;
  display: inline-block;
  font-size: 0.8em;
  line-height: 2.25em;
  margin-bottom: 2px;
  margin-right: -5px;
  padding: 0 0.5625em 0 1.125em;
  position: relative;
  text-decoration: none;
}
.breadcrumb a .breadcrumb a:first-child {
  border-bottom-left-radius: 3px;
  border-left: 1px solid gainsboro;
  border-top-left-radius: 3px;
  padding-left: 1.125em;
}
.breadcrumb a .breadcrumb a:last-child {
  background-color: white;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  color: #999;
  padding-right: 1.125em;
}
.breadcrumb a .breadcrumb a:focus, .breadcrumb a .breadcrumb a:hover {
  background-color: white;
  color: #477DCA;
}
.breadcrumb a .breadcrumb a:after, .breadcrumb a .breadcrumb a:before {
  position: absolute;
  top: 0px;
  right: auto;
  bottom: 0px;
  left: 100%;
  border-bottom: 1.125em solid transparent;
  border-left: 0.5625em solid transparent;
  border-top: 1.125em solid transparent;
  content: '';
  display: block;
  margin: auto;
  z-index: 2;
}
.breadcrumb a .breadcrumb a:last-child:after, .breadcrumb a .breadcrumb a:last-child:before {
  border: none;
}
.breadcrumb a .breadcrumb a:before {
  border-left-color: gainsboro;
  margin-left: 1px;
  z-index: 1;
}
.breadcrumb a .breadcrumb a:after {
  border-left-color: white;
}
@media screen and (min-width: 40em) {
  .breadcrumb a .breadcrumb a {
    font-size: 1em;
    padding: 0 1.125em 0 1.5em;
  }
}

.card {
  -webkit-flex-basis: 15em;
  -moz-flex-basis: 15em;
  flex-basis: 15em;
  -ms-flex-preferred-size: 15em;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  flex-grow: 1;
  -ms-flex-positive: 1;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: #f6f6f6;
  border-radius: 3px;
  border: 1px solid gainsboro;
  box-shadow: 0 2px 4px #e6e6e6;
  cursor: pointer;
  margin: 0 1em 1.5em 1em;
  position: relative;
}
.card .card-image {
  overflow: hidden;
  height: 150px;
  max-height: 150px;
  background-color: #F8F2B4;
}
.card .card-image img {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  width: 100%;
  opacity: 1;
}
.card .card-header {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: #f6f6f6;
  border-bottom: 1px solid gainsboro;
  border-radius: 3px 3px 0 0;
  font-weight: bold;
  line-height: 1.5em;
  padding: 0.5em 0.75em;
}
.card .card-copy {
  font-size: 0.9em;
  line-height: 1.5em;
  padding: 0.75em 0.75em;
}
.card .card-copy:focus, .card .card-copy:hover {
  cursor: pointer;
}
.card .card-copy:focus img, .card .card-copy:hover img {
  opacity: 0.7;
}
.card .card-copy:active {
  background-color: #f6f6f6;
}
.card .card-copy:active .card-header {
  background-color: #f6f6f6;
}

.card-header h3 {
  margin: 0px;
}

.topic-navigation {
  text-align: center;
  border-color: rgba(255, 255, 255, 0.66);
  border-width: 2px;
  border-style: solid;
}

.topic-item {
  margin-bottom: 5px;
}

.topic-item .hero-background:hover {
  opacity: 0.5;
}

.topic-navigation a {
  font-family: 'proxima-nova', sans-serif;
  weight: 900;
  width: 100%;
  height: 100%;
  display: block;
  padding: 40px;
  font-size: 40px;
  color: whitesmoke;
  text-decoration: none;
}

li.block {
  position: relative;
}

li.block a {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 200;
}
