#{$all-buttons} {
  appearance: none;
  background-color: $primary-blue;
  border-color: $primary-blue;
  border-style: solid;
  border-radius: $base-border-radius;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: $heading-font-family;
  text-transform: uppercase;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: $small-spacing $base-spacing;
  text-decoration: none;
  transition: background-color $base-duration $base-timing;
  user-select: none;
  white-space: normal;


  &:hover,
  &:focus {
    background-color: shade($primary-blue, 20%);
    color: #fff;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $action-color;
    }
  }
}

input.button-light  {
  background-color: whitesmoke;
  color: $primary-blue;
  border-style: none;
  border-width: 0;

}


  input.button-light:hover {
    background-color: $light-gray;
    color: $primary-blue;
  }
