ul,
ol {
  margin: 0;
  padding: 0;
  margin-bottom: 1em;
  padding-left: 40px;
}

dl {
  margin-bottom: $small-spacing;

  dt {
    font-weight: 600;
    margin-top: $small-spacing;
  }

  dd {
    margin: 0;
  }
}

li {
  margin-bottom: 0.4em;
}
