body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size*2;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
}

h2 {
  font-size: $base-font-size*1.5;
    margin: 0 0 $small-spacing*0.6;
}

h3 {
 font-size: $base-font-size*1.3;
     margin: 0 0 $small-spacing*0.2;
     margin-top: 1em;
}

p {
  margin: 0 0 $small-spacing;
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: shade($action-color, 25%);
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

$primary-blue: rgb(13, 40, 177);
$light-blue: rgb(160, 174, 247);
$primary-red: rgb(196, 8, 36);
