{% for block in entry.articleBody %}

    {% if block.type == "heading" %}

        <h2>{{ block.heading }}</h2>

    {% elseif block.type == "text" %}

        <p>
        {{ block.text|markdown }}
      </p>

    {% elseif block.type == "image" %}

        {% set image = block.image.first() %}
        {% if image %}
            <img src="{{ image.getUrl() }}" width="{{ image.getWidth() }}" height="{{ image.getHeight() }}" alt="{{ image.title }}">
        {% endif %}

    {% elseif block.type == "quote" %}

        <blockquote>
            <p>{{ block.quote }}</p>
            <cite>– {{ block.cite }}</cite>
        </blockquote>

    {% endif %}

{% endfor %}
