{% macro is_active(segment) %}{% if craft.request.firstSegment == segment %}active{% endif %}{% endmacro %}

<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="{{siteUrl}}" class="logo">
      <h2>Gibson
        <span id="logo-second">Learn</span>
      </h2>
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link">
          <a {% if craft.request.firstSegment == "economics" %}class="active"{% endif %} href="/economics">Economics</a>
        </li>
        <li class="nav-link">
          <a {% if craft.request.firstSegment == "geography" %}class="active"{% endif %} href="/geography">Geography</a>
        </li>
        <li class="nav-link">
          <a {% if craft.request.firstSegment == "maths" %}class="active"{% endif %} href="/maths">Maths</a>
        </li>
        <li class="nav-link">
          <a {% if craft.request.firstSegment == "politics" %}class="active"{% endif %} href="/politics">Politics</a>
        </li>
        <li class="nav-link">
          <a {% if craft.request.firstSegment == "history" %}class="active"{% endif %} href="/history">History</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
