<header class="mdl-layout__header">
  <div class="mdl-layout__header-row header-bar">
    <div class="mdl-layout-spacer"></div>




                <h2>Gibson Learn</h2>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                mdl-textfield--floating-label mdl-textfield--align-right">
      <div class="mdl-textfield__expandable-holder">
        <input class="mdl-textfield__input" type="text" name="sample"
               id="fixed-header-drawer-exp">
      </div>
    </div>

  </div>
</header>
<div class="mdl-layout__drawer">
  <span class="mdl-layout-title"><a href="/">Gibson Learn</a></span>
  <nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="/geography">Geography</a>
    <a class="mdl-navigation__link" href="/economics">Economics</a>
    <a class="mdl-navigation__link" href="/politics">Politics</a>
    <a class="mdl-navigation__link" href="/maths">Maths</a>
  </nav>
</div>
