<div class="section subscribe-section">
<div class="container">
    <div class="subscribe">
      <h3>Subscribe</h3>
      <p>Enter your email to receive regular updates from Gibson Learn.</p>
      <fieldset>

        <form action="//gibsonlearn.us12.list-manage.com/subscribe/post?u=00c457200853dadaab18eaa18&amp;id=f8288694e2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <input id="text_field" placeholder="First name" type="text" value="" name="FNAME" class="">
          <input id="text_field" placeholder="Last name" type="text" value="" name="LNAME" class="">
          <input type="email" value="" name="EMAIL" placeholder="Enter your email address" type="text" id="text_field"/></p>

        <p><input class="button-light" type="submit" value="Submit"/></p>
      </form>

    </fieldset>

  </div>
</div>
</div>
