{% extends "_layout" %}

{% set title = entry.title %}

{% block content %}



<main>
<div class="section article-section">
  <div class="container">

    <div class="content">
      <div class="heading">
        <div class="outline">
  <h1>{{entry.title}}</h1>
</div>
</div>

  {% include 'partials/matrix.html' %}
  </div>


<div class="sidebar">
  <button>Rebranding Places</button>
  <button>Geography</button>

  <div class="section red-section sidebar-section">
    <p>Gibson Learn is an A Level revision website that provides condensed resources for a variety of A Level subjects.</p>
    <button>Subscribe</button>
  </div>

  <div class="sidebar-section">
    <a class="twitter-timeline" href="https://twitter.com/JamesGibson_" data-widget-id="704399301640908800">Tweets by @JamesGibson_</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
</div>

</div>
</div>

</main>

  {% endblock %}
