{% extends "_layout" %}

{% set title = category.title %}

{% block content %}

<main>
  <div class="topic-list">

    <ul>
      {% for childCategory in category.getDescendants() %}
      <li><a href=" {{ childCategory.url }}"> {{ childCategory.title }} </a> </li>

      {% endfor %}
    </ul>

  </div>

  <div class="section title-section">
    <div class="container">
      <div class="subject-hero">
        <span class="badge-error">Edexcel</span>
    <h1>{{category.title}}</h1>

              {% for block in category.categoryBody %}

              {% if block.type == "text" %}

              {{ block.text|markdown }}

            {% elseif block.type == "button" %}

              <a href="{{ block.destination }}"><button>
                {{ block.text }}
              </button></a>

              {% endif %}

              {% endfor %}

{% if category.hasDescendants() %}



    {% endif %}


      </div>
    </div>
  </div>

<div class="section light-blue-section">
  <div class="container">
              <h3>Revision Resources</h3>

  {% if not category.hasDescendants() %}
{% set entries = craft.entries.relatedTo(category).limit(900) %}
  {% else %}
{% set entries = craft.entries.relatedTo(category).limit(12) %}

{% endif %}

<div class="container">
{% for entry in entries %}
    <div class="article-item">
      <div class="outline">
      <a href="{{entry.url}}">{{entry.title}}</a>
    </div>
  </div>

  {% endfor %}
</div>





  </div>
</div>


  <div class="section red-section">
    <div class="container">

      <div class="about">
        <p>Gibson Learn is a collaborative revision site that uses official exam specifications to make tailored revision resources for Edexcel AS and A2 subjects. If you would like to help contribute, please send an email to james@jamesolivergibson.com.
        </p>
      </div>

      <div class="subject-list">
        <div class="outline">
          <p>Want to succeed at A Level? Gibson Learn has revision materials designed specifically for the Edexecel exam boards. By studying with our resources, you can feel confident in the Summer.
          </div>
        </div>

      </div>

    </div>

<div class="section red-section-textured">
<div class="container">
    <div class="subscribe">
      <h3>Subscribe</h3>
      <fieldset>

        <form>

          <input placeholder="Enter your email address" type="text" id="text_field"/></p>

        <p><input type="submit" value="Submit"/></p>
      </form>

    </fieldset>

  </div>
</div>
</section>

</main>



{% endblock %}
